:root.dark {
  --gray-950: 3 7 18;
  --gray-900: 17 24 39;
  --gray-800: 31 41 55;
  --gray-700: 55 65 81;
  --gray-600: 75 85 99;
  --gray-500: 107 114 128;
  --gray-400: 156 163 175;
  --gray-300: 209 213 219;
  --gray-200: 229 231 235;
  --gray-100: 243 244 246;
  --gray-50: 249 250 251;
  --violet-600: 124 58 237;
  --violet-400: 139 92 246;
  --violet-300: 167 139 250;
  --violet-200: 196 181 253;
  --green-800: 22 101 52;
  --green-600: 22 163 74;
  --green-500: 34 197 94;
  --green-400: 74 222 128;
  --green-100: 220 252 231;
  --green-50: 240 253 244;
  --red-800: 153 27 27;
  --red-700: 185 28 28;
  --red-600: 220 38 38;
  --red-500: 239 68 68;
  --red-400: 248 113 113;
  --red-100: 254 226 226;
  --red-50: 254 242 242;
  --ring: 216 12.2% 83.9%;
}
