:root.dark {
  --gray-50: 17 24 39;
  --gray-100: 31 41 55;
  --gray-200: 55 65 81;
  --gray-300: 75 85 99;
  --gray-400: 107 114 128;
  --gray-500: 156 163 175;
  --gray-600: 176 183 195;
  --gray-700: 209 213 219;
  --gray-800: 229 231 235;
  --gray-900: 243 244 246;
  --gray-950: 249 250 251;
  --violet-600: 167 139 250;
  --violet-400: 139 92 246;
  --violet-300: 167 139 250;
  --violet-200: 196 181 253;
  --green-800: 187 247 208;
  --green-600: 74 222 128;
  --green-500: 34 197 94;
  --green-400: 22 163 74;
  --green-100: 20 83 45;
  --green-50: 20 83 45;
  --red-800: 254 202 202;
  --red-700: 252 165 165;
  --red-600: 248 113 113;
  --red-500: 239 68 68;
  --red-400: 220 38 38;
  --red-100: 127 29 29;
  --red-50: 127 29 29;

  .shadow {
    --tw-shadow:
      0 1px 3px 0 rgba(255, 255, 255, 0.1),
      0 1px 2px 0 rgba(255, 255, 255, 0.06);
  }

  .shadow-sm {
    --tw-shadow-color: rgb(255 255 255 / 0.05);
    --tw-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.05);
  }

  .shadow-md {
    --tw-shadow:
      0 4px 6px -1px rgba(255, 255, 255, 0.1),
      0 2px 4px -1px rgba(255, 255, 255, 0.06);
  }

  .shadow-lg {
    --tw-shadow:
      0 10px 15px -3px rgba(255, 255, 255, 0.1),
      0 4px 6px -2px rgba(255, 255, 255, 0.05);
  }

  .shadow-xl {
    --tw-shadow:
      0 20px 25px -5px rgba(255, 255, 255, 0.1),
      0 10px 10px -5px rgba(255, 255, 255, 0.04);
  }

  .shadow-2xl {
    --tw-shadow-color: rgb(255 255 255 / 0.25);
    --tw-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.25);
  }
}
