version: "3"

services:
  jaeger:
    image: jaegertracing/all-in-one:1
    ports:
      - "16686:16686"
    networks:
      - flipt_network
    environment:
      - "COLLECTOR_ZIPKIN_HTTP_PORT=9411"

  flipt:
    image: flipt/flipt:latest
    command: ["./flipt", "--force-migrate"]
    depends_on:
      - jaeger
    ports:
      - "8080:8080"
    networks:
      - flipt_network
    environment:
      - "FLIPT_LOG_LEVEL=debug"
      - "FLIPT_TELMETRY_ENABLED=false"
      - "FLIPT_TRACING_JAEGER_ENABLED=true"
      - "FLIPT_TRACING_JAEGER_HOST=jaeger"
    volumes:
      - "./flipt.db:/var/opt/flipt/flipt.db"

  example:
    build: .
    depends_on:
      - flipt
    ports:
      - "8000:8000"
    networks:
      - flipt_network



networks:
  flipt_network:
