version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    reviewers:
      - markphelps
    assignees:
      - markphelps
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
      - dependency-name: github.com/golangci/golangci-lint
        versions:
          - "> 1.26.0"

  - package-ecosystem: gomod
    directory: "/_tools"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    reviewers:
      - markphelps
    assignees:
      - markphelps
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
      - dependency-name: github.com/golangci/golangci-lint
        versions:
          - "> 1.26.0"

  - package-ecosystem: npm
    directory: "/ui"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    reviewers:
      - markphelps
    assignees:
      - markphelps
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    reviewers:
      - markphelps
    assignees:
      - markphelps

  - package-ecosystem: "docker"
    directory: "/build"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    reviewers:
      - markphelps
    assignees:
      - markphelps
