version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
      - dependency-name: github.com/golangci/golangci-lint
        versions:
          - "> 1.26.0"
    labels:
      - "dependencies"
      - "go"
      # kodiak `merge.automerge_label`
      - "automerge"

  - package-ecosystem: gomod
    directory: "/_tools"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
      - dependency-name: github.com/golangci/golangci-lint
        versions:
          - "> 1.26.0"
    labels:
      - "dependencies"
      - "go"
      # kodiak `merge.automerge_label`
      - "automerge"

  - package-ecosystem: npm
    directory: "/ui"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    labels:
      - "dependencies"
      - "javascript"
      # kodiak `merge.automerge_label`
      - "automerge"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github_actions"
      # kodiak `merge.automerge_label`
      - "automerge"

  - package-ecosystem: "docker"
    directory: "/build"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "docker"
      # kodiak `merge.automerge_label`
      - "automerge"
