# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.db

_obj
_test
.DS_Store
.envrc
.idea
.ruby-version
.vagrant
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
*.cov
*.log
*.out
*.prof
*.spelling
*.test
*.pem
!**/**/testdata/**/*.pem

bin
benchmark
coverage.txt
dist
node_modules
profile
site
tmp
__debug_bin

Brewfile.lock.json
*.key
.task/
