# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.db*

_obj
_test
.DS_Store
.envrc
.idea
.ruby-version
.vagrant
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-workspace
*.cov
*.log
*.out
*.prof
*.spelling
*.test
*.pem
!**/**/testdata/**/*.pem

bin
pkg
benchmark
coverage.txt
dist
node_modules
profile
site
tmp
__debug_bin
*.tar

Brewfile.lock.json
*.key
build/hack/out/
examples/cockroachdb/data
playwright-report/
screenshots/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

build/mage_output_file.go

*.rego
!**/**/testdata/*.rego