log:
  level: DEBUG

# ui:
#   enabled: true

# cors:
#   enabled: false
#   allowed_origins: "*"

# cache:
#   memory:
#     enabled: false
#     items: 500

# server:
#   protocol: http
#   host: 0.0.0.0
#   http_port: 8080
#   grpc_port: 9000

db:
  url: file:flipt.db
  migrations:
    path: ./config/migrations
