log:
  level: WARN

# ui:
#   enabled: true

# cors:
#   enabled: false
#   allowed_origins: "*"

# cache:
#   memory:
#     enabled: false
#     items: 500

server:
  protocol: https
  host: 0.0.0.0
  http_port: 8080
  https_port: 443
  grpc_port: 9000
  cert_file: cert.pem
  key_file: key.pem

db:
  url: postgres://postgres@localhost:5432/flipt?sslmode=disable
  migrations:
    path: ./config/migrations
