# yaml-language-server: $schema=https://raw.githubusercontent.com/flipt-io/flipt/main/config/flipt.schema.json

version: "1.0"

log:
  level: WARN
  encoding: json

server:
  protocol: https
  host: 0.0.0.0
  http_port: 8080
  https_port: 443
  grpc_port: 9000
  cert_file: cert.pem
  cert_key: key.pem

db:
  url: postgres://postgres@localhost:5432/flipt?sslmode=disable
