:8080 {
  log

  # proxy requests to port 8080 to the Flipt container protected with basic auth
  # https://caddyserver.com/docs/caddyfile/directives/basicauth
  basicauth /* {
    {$HTTP_USERNAME} {$HTTP_PASSWORD_HASH}
  }
  reverse_proxy /* flipt:8080
}
