{

}

(cors) {
  @cors_preflight method OPTIONS
  @cors header Origin {args.0}

  handle @cors_preflight {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
    header Access-Control-Allow-Headers "Content-Type"
    header Access-Control-Max-Age "3600"
    respond "" 204
  }

  handle @cors {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Expose-Headers "Link"
  }
}

:8081 {
  log
  import cors *

  # proxy only evaluate requests to port 8080
  reverse_proxy /api/v1/evaluate flipt:8080 {
    # optionally add the Authorization header to the proxied request
    # header_up Authorization "Bearer {env.FLIPT_API_KEY}"
  }
}
