<!DOCTYPE html>
<html lang="en" class="h-full w-auto bg-white">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flipt</title>
  {{if .IsDev}}
  <script type="module">
    import RefreshRuntime from 'http://localhost:5173/@react-refresh';
    RefreshRuntime.injectIntoGlobalHook(window);
    window.$RefreshReg$ = () => { };
    window.$RefreshSig$ = () => (type) => type;
    window.__vite_plugin_react_preamble_installed__ = true;
  </script>
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  {{end}}
</head>

<body class="h-full antialiased">
  <div id="root"></div>
  {{if .IsDev}}
  <script type="module" src="http://localhost:5173/src/main.tsx"></script>
  {{else}}
  <script type="module" src="/src/main.tsx"></script>
  {{end}}
</body>

</html>
