name: Benchmarks
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  GO_VERSION: "1.23"

jobs:
  benchmark:
    name: Benchmark SQLite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Run Benchmarks
        run: go test -run XXX -bench . -benchtime 5s -benchmem -short ./...
