name: Database Tests
on:
  push:
    branches:
      - main
    paths-ignore:
      - "deploy/**"
      - "examples/**"
      - "logos/**"
      - "**.md"
      - "**.txt"
      - "**.ya?ml"
  pull_request:
    paths-ignore:
      - "deploy/**"
      - "examples/**"
      - "logos/**"
      - "**.md"
      - "**.txt"
      - "**.ya?ml"

jobs:
  ## Postgres Tests
  postgres:
    name: Postgres
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres@sha256:afc79f5499a589f3130bd8666c1743db6748aa43083b52f823db72dd3af89785
        ports:
          # will assign a random free host port
          - 5432/tcp
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_DB: flipt_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: "1.17"
          check-latest: true
          cache: true

      - name: Unit Test (Postgres)
        run: DB_URL="postgres://postgres:password@localhost:${{ job.services.postgres.ports['5432'] }}/flipt_test?sslmode=disable" go test -count=1 -v ./...

  ## MySQL Tests
  mysql:
    name: MySQL
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql@sha256:a31a277d8d39450220c722c1302a345c84206e7fd4cdb619e7face046e89031d
        ports:
          # will assign a random free host port
          - 3306/tcp
        env:
          MYSQL_DATABASE: flipt_test
          MYSQL_USER: mysql
          MYSQL_PASSWORD: password
          MYSQL_ALLOW_EMPTY_PASSWORD: true

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: "1.17"
          check-latest: true
          cache: true

      - name: Unit Test (MySQL)
        run: DB_URL="mysql://mysql:password@localhost:${{ job.services.mysql.ports['3306'] }}/flipt_test" go test -count=1 -v ./...
