name: Build Dev Container

on:
  workflow_dispatch:
  schedule:
    # monthly
    - cron: "0 0 1 * *"
  push:
    branches:
      - "master"
    paths:
      - ".devcontainer/**/*"
      - "Dockerfile"

permissions:
  contents: read
  packages: write

jobs:
  devcontainer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          set -e

          IMAGE="ghcr.io/markphelps/flipt-dev"
          export DOCKER_BUILDKIT=1
          export BUILDKIT_PROGRESS=plain

          npm install -g "@vscode/dev-container-cli"
          docker push "${IMAGE}"
