name: Integration Tests
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  GO_VERSION: "1.21"
  DAGGER_VERSION: "0.9.4"

jobs:
  cli:
    name: CLI Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=$DAGGER_VERSION sh

      - name: Install Mage
        uses: magefile/mage-action@v3
        with:
          install-only: true

      - name: Run CLI Tests
        run: mage dagger:run test:cli

  test:
    name: Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        test:
          [
            "api/sqlite",
            "api/libsql",
            "api/postgres",
            "api/mysql",
            "api/cockroach",
            "api/cache",
            "fs/git",
            "fs/local",
            "fs/s3",
            "fs/oci",
            "import/export",
          ]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=$DAGGER_VERSION sh

      - name: Install Mage
        uses: magefile/mage-action@v3
        with:
          install-only: true

      - name: Run Integration Tests
        run: mage dagger:run "test:integration ${{ matrix.test }}"

      - name: Upload Flipt Service Logs
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: "build-logs-${{ matrix.test }}"
          path: "build/logs"
          retention-days: 5

  ui:
    name: UI Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=$DAGGER_VERSION sh

      - name: Install Mage
        uses: magefile/mage-action@v3
        with:
          install-only: true

      - name: Run UI Tests
        run: mage dagger:run test:ui
