name: Integration Tests
on:
  push:
    branches:
      - main
    paths-ignore:
      - "logos/**"
      - "**.md"
      - "**.txt"
  pull_request:
    paths-ignore:
      - "logos/**"
      - "**.md"
      - "**.txt"
  workflow_dispatch:

jobs:
  cli:
    name: CLI Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | sh

      - uses: GeorgeMac/mage-action@gm/tools-add-path-debug
        with:
          version: latest
          args: dagger:run test:cli

  test:
    name: Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        test: ["api", "fs/git", "fs/local", "import/export"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | sh

      - uses: GeorgeMac/mage-action@gm/tools-add-path-debug
        with:
          version: latest
          args: dagger:run "test:integration ${{ matrix.test }}"

      - name: Upload Flipt Service Logs
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: Flipt Service Logs
          path: build/logs
          retention-days: 5

  ui:
    name: UI Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | sh

      - uses: GeorgeMac/mage-action@gm/tools-add-path-debug
        with:
          version: latest
          args: dagger:run test:ui
