name: Integration Tests
on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
      - '.all-contributorsrc'
  pull_request:
    branches:
      - master

jobs:

  ## Integration Tests
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.7
      id: go

    - name: Checkout
      uses: actions/checkout@v1

    - name: Restore Cache
      uses: actions/cache@preview
      id: cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-${{ hashFiles('**/go.sum') }}

    - name: Build binary
      run: go build -o ./bin/flipt ./cmd/flipt/.

    - name: Test CLI
      uses: ./.github/actions/api-test
      with:
        args: ./script/test/cli

    - name: Test API
      uses: ./.github/actions/api-test
      with:
        args: ./script/test/api
