name: Integration Tests
on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
      - '.all-contributorsrc'
  pull_request:
    branches:
      - master

jobs:

  ## Integration Tests
  test:
    name: Test
    runs-on: ubuntu-latest

    timeout-minutes: 20

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v1
      with:
        go-version: 1.14.1
      id: go

    - uses: actions/cache@v1
      id: go-cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-${{ hashFiles('**/go.sum') }}

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v1
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

    - name: Build the binary
      uses: ./.github/actions/integration-test
      with:
        args: make build

    - name: Test API
      uses: ./.github/actions/integration-test
      with:
        args: ./script/test/api

    - name: Test CLI
      uses: ./.github/actions/integration-test
      with:
        args: ./script/test/cli

    - name: Test UI
      uses: ./.github/actions/integration-test
      env:
        FFMPEG_PATH: /usr/bin/ffmpeg # for recording video
        QAW_ARTIFACT_PATH: ${{ github.workspace }}/artifacts
      with:
        args: ./script/test/qawolf

    - name: Upload Artifacts
      if: always()
      uses: actions/upload-artifact@master
      with:
        path: ${{ github.workspace }}/artifacts
