name: Licensed
on:
  push:
  pull_request:
    types: [opened]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  licensed:
    name: Licensed
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v2
        with:
          go-version: "1.17.x"

      - uses: actions/setup-node@v3
        with:
          node-version: "16"

      - run: cd ui && yarn install --frozen-lockfile --non-interactive

      - uses: jonabc/setup-licensed@v1
        with:
          version: 3.x

      - id: licensed
        uses: jonabc/licensed-ci@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: branch
          cleanup_on_success: true
