name: Lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  go-lint:
    name: "Lint Go"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.4.0
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.52.1
          skip-pkg-cache: true
          skip-build-cache: true
          args: --timeout=10m

  markdown-lint:
    name: "Lint Markdown"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DavidAnson/markdownlint-cli2-action@v9
        with:
          command: config
          globs: |
            .markdownlint.yaml
            **/*.md
            !**/test/**/*

  proto-lint:
    name: "Lint Proto"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1.7.0
        with:
          version: "latest"

      - uses: bufbuild/buf-lint-action@v1
        with:
          input: "rpc/flipt"

      - uses: bufbuild/buf-breaking-action@v1
        with:
          input: "rpc/flipt"
          against: "https://github.com/${GITHUB_REPOSITORY}.git#branch=main"

  go-mod-tidy:
    name: "Go Mod Tidy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: Run go mod tidy.
        run: go mod tidy

      - name: Ensure clean git state.
        run: git diff-index --quiet HEAD -- || (echo "Please run go mod tidy." && exit 1)
