name: Lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  go-lint:
    name: "Lint Go"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.6.0
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.52.1
          skip-pkg-cache: true
          skip-build-cache: true
          args: --timeout=10m

  markdown-lint:
    name: "Lint Markdown"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DavidAnson/markdownlint-cli2-action@v11
        with:
          config: .markdownlint.yaml
          globs: |
            **/*.md
            !**/test/**/*

  ui-lint:
    name: "Lint UI"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "pnpm"
          cache-dependency-path: ui/pnpm-lock.yaml

      - name: Lint
        run: |
          pnpm install
          pnpm run lint
        working-directory: ui

  go-mod-tidy:
    name: "Go Mod Tidy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: Run go mod tidy.
        run: go mod tidy

      - name: Ensure clean git state.
        run: git diff-index --quiet HEAD -- || (echo "Please run 'go mod tidy' and commit changes." && exit 1)
