on:
  workflow_run:
    workflows: [Release]
    types: [completed]
  workflow_dispatch:

name: Various Updates Post Release
jobs:
  release_client:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.FLIPT_RELEASE_BOT_APP_ID }}
          private_key: ${{ secrets.FLIPT_RELEASE_BOT_APP_PEM }}
          installation_id: ${{ secrets.FLIPT_RELEASE_BOT_INSTALLATION_ID }}

      - name: Trigger Post Release Workflows
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          gh workflow run deploy.yml -R flipt-io/try.flipt.io
          gh workflow run update.yml -R flipt-io/helm-charts
