name: Proto Push
on:
  push:
    tags:
      - "v2*"

permissions:
  contents: read
  pull-requests: write
jobs:
  proto-push:
    name: "Push Protos"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true

      - uses: bufbuild/buf-action@v1
        with:
          input: "rpc"
          lint: true

      - uses: bufbuild/buf-action@v1
        with:
          input: "rpc"
          breaking: true
          breaking_against: "https://github.com/${{ github.repository }}.git#branch=v2,subdir=rpc"

      - uses: bufbuild/buf-action@v1
        with:
          input: "rpc/flipt"
          push: true
          token: ${{ secrets.BUF_TOKEN }}
      - uses: bufbuild/buf-action@v1
        with:
          input: "rpc/v2/environments"
          push: true
          token: ${{ secrets.BUF_TOKEN }}
