name: Proto
on:
  push:
    branches:
      - main
    paths:
      - "sdk/**"
      - "rpc/**"
  pull_request:
    paths:
      - "sdk/**"
      - "rpc/**"

env:
  GO_VERSION: "1.22"

jobs:
  proto-lint:
    name: "Lint Protos"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bufbuild/buf-setup-action@v1.26.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: bufbuild/buf-lint-action@v1
        with:
          input: "rpc/flipt"

      - uses: bufbuild/buf-breaking-action@v1
        with:
          input: "rpc/flipt"
          against: "https://github.com/${GITHUB_REPOSITORY}.git#branch=main"

  proto-check:
    name: "Check Generated Code"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - uses: bufbuild/buf-setup-action@v1.26.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: magefile/mage-action@v3
        with:
          version: latest
          args: proto

      - name: Ensure clean git state.
        run: git diff --quiet --exit-code sdk/ rpc/ || (echo "Please run 'mage proto' and commit changes." && exit 1)
