name: Snapshot Build
on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
      - '.all-contributorsrc'

jobs:
  goreleaser:
    name: Snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '1.14.x'

      - name: Build Snapshot
        run: |
          make bootstrap
          make snapshot

      - name: Login to DockerHub
        if: github.repository == 'markphelps/flipt'
        uses: docker/login-action@v1
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Login to GitHub Container Registry

        uses: docker/login-action@v1
        if: github.repository == 'markphelps/flipt'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Docker Tag and Push
        if: github.repository == 'markphelps/flipt'
        run: |
          docker tag markphelps/flipt:latest markphelps/flipt:snapshot
          docker tag markphelps/flipt:latest ghcr.io/markphelps/flipt:snapshot
          docker push markphelps/flipt:snapshot
          docker push ghcr.io/markphelps/flipt:snapshot
