name: Snapshot Build
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
      - '.all-contributorsrc'

jobs:
  goreleaser:
    name: Snapshot
    if: github.repository == 'markphelps/flipt'
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '1.15.x'

      - name: Build Snapshot
        run: |
          make bootstrap
          make snapshot
          chmod 755 dist/goreleaserdocker*

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          cache-from: type=registry,ref=ghcr.io/markphelps/flipt:cache
          cache-to: type=registry,ref=ghcr.io/markphelps/flipt:cache
          file: ./build/Dockerfile
          build-args: |
            BINARY=dist/flipt_linux_amd64/flipt
          tags: |
            markphelps/flipt:snapshot
            ghcr.io/markphelps/flipt:snapshot

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
