name: Tests
on:
  push:
    paths-ignore:
      - '*.md'
      - '.all-contributorsrc'

jobs:

  ## Lint
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.1
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Restore Cache
      uses: actions/cache@v1
      id: cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-${{ hashFiles('**/go.sum') }}

    - name: Install golangci-lint
      run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s v1.23.1

    - name: Lint
      run: ./bin/golangci-lint run

  ## Unit Tests
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.1
      id: go

    - name: Checkout
      uses: actions/checkout@v2

    - name: Restore Cache
      uses: actions/cache@preview
      id: cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-${{ hashFiles('**/go.sum') }}

    - name: Unit Test (SQLite)
      run: go test -covermode=count -coverprofile=coverage.txt -count=1 ./...

    - name: Coverage
      if: github.repository == 'markphelps/flipt' # don't run coverage on forks since secrets are not copied to forked repos
      env:
        CI_BRANCH: ${{ github.ref }}
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: bash <(curl -s https://codecov.io/bash)
