name: Unit Tests
on:
  push:
    branches:
      - main
    paths-ignore:
      - "examples/**"
      - "logos/**"
      - "**.md"
      - "**.txt"
  pull_request:
    paths-ignore:
      - "examples/**"
      - "logos/**"
      - "**.md"
      - "**.txt"
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.19", "1.20"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
          cache: true

      - name: Unit Test ${{ matrix.go }}
        run: go test -race -covermode=atomic -coverprofile=coverage.txt -count=1 ./...

      - name: Upload Coverage
        uses: codecov/codecov-action@v3.1.1

  database:
    name: Database Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: ["mysql", "postgres", "cockroachdb"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          check-latest: true
          cache: true

      - name: Unit Test ${{ matrix.database }}
        env:
          FLIPT_TEST_DATABASE_PROTOCOL: ${{ matrix.database }}
        run: go test -count=1 -v ./...
