name: Unit Tests
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  GO_VERSION: "1.21"
  DAGGER_VERSION: "0.9.5"

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    name: "Tests (Go)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=$DAGGER_VERSION sh

      - name: Install Mage
        uses: magefile/mage-action@v3
        with:
          install-only: true

      - name: Unit Test
        run: mage dagger:run "test:unit"

      - name: Upload Coverage
        uses: codecov/codecov-action@v4.4.1

  test-darwin:
    name: "Tests (Go - Darwin)"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Unit Test SQLite
        env:
          FLIPT_TEST_SHORT: "true"
        run: go test -v -count=1 -timeout=60s -short ./...

  ui:
    name: "Tests (UI)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: ui/package-lock.json

      - name: Unit Test
        run: |
          npm ci
          npm run test
        working-directory: ui

  migration:
    name: "Tests (Migration)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Install Dagger
        run: |
          cd /usr/local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=$DAGGER_VERSION sh

      - name: Install Mage
        uses: magefile/mage-action@v3
        with:
          install-only: true

      - name: Run Migration Tests
        run: mage dagger:run test:migration
