name: Tests
on:
  push:
    paths-ignore:
      - '*.md'
      - '.all-contributorsrc'

jobs:
  ## Lint
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.29

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          # args: --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

  ## Unit Tests
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.14.x'
      id: go

    - name: Checkout
      uses: actions/checkout@v2

    - name: Restore Cache
      uses: actions/cache@preview
      id: cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-${{ hashFiles('**/go.sum') }}

    - name: Unit Test (SQLite)
      run: go test -covermode=count -coverprofile=coverage.txt -count=1 ./...

    - name: Coverage
      if: github.repository == 'markphelps/flipt' # don't run on forks since secrets are not copied to forked repos
      env:
        CI_BRANCH: ${{ github.ref }}
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: bash <(curl -s https://codecov.io/bash)
