name: Tests
on:
  push:
    branches:
      - '*'

jobs:

  ## Lint
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Install golangci-lint
      run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s v1.17.1

    - name: Lint
      run: ./bin/golangci-lint run

  ## Unit Tests
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.12', '1.13']

    services:
      postgres:
        image: postgres:11
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: flipt_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ''

    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Unit Test (SQLite)
      run: go test -covermode=count -coverprofile=profile.cov -count=1 ./...

    - name: Unit Test (Postgres)
      run: DB_URL="postgres://postgres@localhost:${{ job.services.postgres.ports['5432'] }}/flipt_test?sslmode=disable" go test -count=1 -v ./...

