name: Tests
on: [push]
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.12', '1.13']

    steps:
    - name: Set up Go ${{matrix.go}}
      uses: actions/setup-go@v1
      with:
        go-version: ${{matrix.go}}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Install golangci-lint
      run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s v1.17.1

    - name: Lint
      run: ./bin/golangci-lint run

    - name: Test
      run: go test -covermode=count -coverprofile=profile.cov -count=1 ./...
