name: Tests
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.all-contributorsrc'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.all-contributorsrc'

jobs:

  ## Lint
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.1
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install golangci-lint
      run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s v1.19.1

    - name: Lint
      run: ./bin/golangci-lint run

  ## Unit Tests
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: flipt_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ''

    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.1
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Unit Test (SQLite)
      env:
        CI_BRANCH: ${{ github.ref }}
        COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      run: |
        GOBIN=$PWD/bin go install github.com/mattn/goveralls # see https://github.com/actions/setup-go/issues/14
        go test -covermode=count -coverprofile=profile.cov -count=1 ./...
        ./bin/goveralls -coverprofile=profile.cov -service=github -repotoken $COVERALLS_TOKEN

    - name: Unit Test (Postgres)
      run: DB_URL="postgres://postgres@localhost:${{ job.services.postgres.ports['5432'] }}/flipt_test?sslmode=disable" go test -count=1 -v ./...
