name: Unit Tests
on:
  push:
    branches:
      - main
    paths-ignore:
      - "deploy/**"
      - "examples/**"
      - "logos/**"
      - "**.md"
      - "**.txt"
      - "**.ya?ml"
  pull_request:
    paths-ignore:
      - "deploy/**"
      - "examples/**"
      - "logos/**"
      - "**.md"
      - "**.txt"
      - "**.ya?ml"
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
          check-latest: true
          cache: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.3.0
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.49
          skip-pkg-cache: true
          skip-build-cache: true
          args: --timeout=10m

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.18", "1.19"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
          cache: true

      - name: Unit Test ${{ matrix.go }}
        run: go test -race -covermode=atomic -coverprofile=coverage.txt -count=1 ./...

      - name: Upload Coverage
        uses: codecov/codecov-action@v3.1.1

  database:
    name: Database Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: ["mysql", "postgres", "cockroachdb"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
          check-latest: true
          cache: true

      - name: Unit Test ${{ matrix.database }}
        env:
          FLIPT_TEST_DATABASE_PROTOCOL: ${{ matrix.database }}
        run: go test -count=1 -v ./...
